.single-product {
    box-shadow: 0 0 8px 1px var(--White-To-Black-4);
    background-color: #f6f5ee;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.single-product img {
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem;
}
.single-product header {
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-product header h2 {
    color: var(--Brown-12);
    text-transform: capitalize;
}
.single-product header span {
    text-align: center;
    display: inline-block;
    width: 3rem;
    padding: 0.5rem;
    background-color: #b89474;
}
.single-product p {
    color: var(--Brown-12);
    margin-bottom: 1rem;
}
.single-product section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-product section ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.single-product section ul li {
    color: var(--Yellow-8);
}
.single-product footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.single-product footer h2 {
    text-align: center;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.125rem 0;
    line-height: 1;
    font-size: 1.5rem;
    background-color: #b89474;
}
