article.single-question {
    padding: 0.5rem 2.5rem;
    margin-bottom: 2rem;
}
article.single-question div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}
article.single-question div h2 {
    color: var(--White-To-Black-12);
    text-transform: capitalize;
}
article.single-question p {
    color: var(--White-To-Black-12);
    margin-top: 1rem;
}
@media screen and (max-width: 992px) {
    article.single-question div h2 {
        text-align: center;
    }
    article.single-question div {
        flex-direction: column;
    }
    article.single-question p {
        text-align: center;
    }
}
