.hero {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background: url("../../images/hero.jpg") 0 50% / cover;
}
@media screen and (max-width: 768px) {
    .hero {
        background: linear-gradient(var(--Brown-2), #281913);
    }
}
.hero h2 {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
}
.hero p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
}
.hero .btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
@media screen and (max-width: 567px) {
    .hero h2 {
        font-size: 2rem;
    }
}
