.reviews {
    padding: 4rem 0;
    background: linear-gradient(
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.95)
        ),
        url("../../images/reviews.jpg") 0 50% / cover;
}
.reviews .section-title {
    text-align: center;
    padding: 2rem 0;
}

.reviews .slider-container {
    overflow-x: scroll;
    position: relative;
    height: 350px;
}

.reviews .slide {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.reviews .btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
